*.idea
/deviate_paragraph/.idea
/deviate_paragraph/ali_data
/deviate_paragraph/data
/deviate_paragraph/fig
/deviate_paragrapg/csv_folder

/deviate_paragraph_random/.idea
/deviate_paragraph_random/ali_data
/deviate_paragraph_random/data
/deviate_paragraph_random/fig

/deviate_paragraph_random/csv_folder

/lack_paragraph/.idea
/lack_paragraph/ali_data
/lack_paragraph/data
/lack_paragraph/fig

/lack_paragraph/csv_folder

/random_deviate/.idea
/random_deviate/ali_data
/random_deviate/data
/random_deviate/fig

/random_deviate/csv_folder

/random_lack/.idea
/random_lack/ali_data
/random_lack/data
/random_lack/fig

/random_lack/csv_folder